.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes lds-blocks {
  0 % {
    background: #45aee7;
  }
  12.5% {
    background: #45aee7;
  }
  12.625% {
    background: #0055a5;
  }
  100% {
    background: #0055a5;
  }
}
@-webkit-keyframes lds-blocks {
  0 % {
    background: #45aee7;
  }
  12.5% {
    background: #45aee7;
  }
  12.625% {
    background: #0055a5;
  }
  100% {
    background: #0055a5;
  }
}
.lds-blocks {
  position: relative;
}
.lds-blocks div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #0055a5;
  -webkit-animation: lds-blocks 1s linear infinite;
  animation: lds-blocks 1s linear infinite;
}
.lds-blocks {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}